.TodoItem{
    background-color: plum;
    width: 600px;
    margin:auto;
    padding:15px;
    border: 3px;
    border-style: solid;
    border-color: violet;
    margin-top: 5px;
    margin-bottom: 2px;
    color: darkviolet;
    border-radius: 15px;
}

.TodoItem.done{
    background-color: pink;
    text-decoration: line-through;
}

.removeButton{
    float: right;
    text-align:right;
}


.CenterMe{
    text-align: center;
}