.TodoItem{
    background-color: plum;
    width: 600px;
    margin:auto;
    padding:15px;
    border: 3px;
    border-style: solid;
    border-color: violet;
    color: darkviolet;
    border-radius: 15px;
}

.TodoItem.done{
    background-color: pink;
    text-decoration: line-through;
}

.Button{
    float: right;
    text-align:right;
    border-style: none;
    backface-visibility: hidden;
    background-color: transparent;
}

.remove{
    float: right;
    text-align:right;
}

.update{
    float: left;
    text-align: left;
}


.CenterMe{
    text-align: center;
}

.Modal{
    background-color: pink;
    color: purple;
}

.ant-modal-content{
    padding: 24px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
    background-color: pink;
  }


.ant-modal-body{
    background-color: pink;
}

.ant-modal-footer{
    background-color: pink;
}